.header {
  max-width: 100%;
  min-height: 850px;
  background-color: black;
  overflow: hidden;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  max-width: fit-content;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.heading span {
  color: goldenrod;
}

.hero .subheading {
  text-align: center;
  font-size: 22px;
  color: rgb(189, 189, 189);
  margin-left: 10px;
  margin-bottom: 20px;
}

.hero .h-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hero .cta-btn {
  position: relative;
  z-index: 1px;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.hero .cta-btn:hover {
  background-color: white;
  color: goldenrod;
  border-color: goldenrod;
}

.hero .cta-btn .btn-outline {
  position: absolute;
  z-index: -10px;
  width: 100%;
  height: 100%;
  bottom: -10px;
  right: -10px;
  border: 2px solid goldenrod;
}

.hero .cta-btn .btn-outline:hover {
  bottom: -2px;
  right: -2px;
}

.hero .statistics {
  width: fit-content;
  height: fit-content;
  margin-top: 50px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .statistic {
  width: 130px;
  height: fit-content;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .statistic:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header .statistic h4 {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.header .statistic span {
  text-align: left;
  font-size: 18px;
  color: rgb(189, 189, 189);
}

/* MENU DESPLEGABLE */

.hero .cta-menu {
  position: fixed;
  top: -110%;
  z-index: 45;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .cta-menu.open {
  top: 0px;
}

.hero .close-btn {
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.hero .cta-menu h2 {
  max-width: 60%;
  font-size: 28px;
  text-align: center;
  color: goldenrod;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero .cta-menu h4 {
  max-width: 80%;
  text-align: center;
  color: white;
  margin-bottom: 27px;
}

.hero .cta-menu .form {
  width: 50%;
  height: fit-content;
  background: transparent;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.hero .cta-menu .form span {
  text-align: left;
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
}

.hero .cta-menu .form input {
  width: 100%;
  height: fit-content;
  background: transparent;
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
}

.hero .cta-menu .form input::placeholder {
  color: grey;
  font-size: 20px;
}

.hero .cta-menu .form .btn-container {
  min-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .cta-menu .btn-container button:nth-child(1) {
  min-width: 48%;
  height: fit-content;
  background-color: goldenrod;
  color: black;
  font-size: 18px;
  padding: 20px 10px;
  border: 3px solid goldenrod;
}

.hero .cta-menu .btn-container button:nth-child(1):hover {
  background-color: black;
  color: white;
}

.hero .cta-menu .btn-container button:nth-child(2) {
  min-width: 48%;
  height: fit-content;
  background: transparent;
  color: white;
  font-size: 18px;
  padding: 20px 10px;
  border: 3px solid white;
}

.hero .cta-menu .btn-container button:nth-child(2):hover {
  background-color: goldenrod;
  color: black;
  border-color: goldenrod;
}

/* HERO BOOKED CALL MESSAGE */

.hero .booked-msg {
  position: fixed;
  top: 100px;
  z-index: 500;
  width: 80%;
  height: 80vh;
  background-color: black;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 5px 12px rgb(58, 58, 58);
}

.hero .booked-msg.show {
  display: flex;
}

.hero .booked-msg.show p {
  width: fit-content;
  text-align: center;
  color: white;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .booked-msg.show p span {
  font-size: 32px;
  font-weight: bold;
  color: goldenrod;
}

.hero .booked-msg.show button {
  width: 100px;
  height: fit-content;
  background: transparent;
  color: goldenrod;
  font-size: 18px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 50px;
} 
